<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>
<body>
  <h1>Simple Login</h1>
  <div>
    <div><%=user.email%></div>
    <div><%=user.nick%></div>
    <div><button>remove account</button></div>
    <div>
      return to
      <a href='/'>main page</a>
    </div>
  </div>
</body>
</html>